{{define "order/_order"}}
<tr>
    <td>
        {{range .OrderDetailss}}
        {{.Goods.GoodsNo}} x {{if gt .Number 1}}<span
            style="color:red">{{.Number}}</span>{{else}}{{.Number}}{{end}}<br />
        {{end}}
    </td>
    <td>{{.OrderMoney}}</td>
    <td>{{.OrderBuyer}} [{{.OrderReceiverCountry}}]</td>
    <td>{{.OrderNo}}</td>
    <td>
        付款时间:{{slice .OrderPaidTime.String 0 16}}

    </td>
    <td>
        {{.OrderShippingMethod}}<br />
        {{.OrderShippingNo}}
    </td>
    <td style="width:180px;text-align: center;">
        <div class="btn-group btn-group-xs" role="group">
            <a class="btn btn-default editorderbutton" href="/order/{{.ID}}/edit" target="_blank">编辑</a>
            <button  class="btn btn-default deleteorderbutton" data-id="{{.ID}}">删除</button>
        </div>
    </td>
</tr>
{{end}}