{{define "order/index"}}
{{template "layout/header" .}}

<body>
    {{template "layout/nav"}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-11">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="searchText" class="sr-only">搜索框</label>
                                <input type="text" class="form-control" id="searchText">
                            </div>
                            <button type="submit" class="btn btn-default">搜索</button>
                        </form>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-default">批量导入运费</button>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <th>商品信息</th>
                        <th>订单金额</th>
                        <th>买家名称/国家</th>
                        <th>订单号</th>
                        <th>时间</th>
                        <th>物流方式</th>
                        <th style="width:180px;text-align: center;">操作</th>
                    </tr>
                    {{range .Orders}}
                    {{template "order/_order" .}}
                    {{end}}
                    <script>
                        $(document).ready(function () {
                            $(".deleteorderbutton").click(function () {
                                var self = $(this)
                                var id = self.attr("data-id")
                                layer.confirm('确认删除吗？', {
                                    btn: ['确认']
                                }, function () {

                                    $.post("/order/delete/" + id, function (resp) {
                                        layer.msg(resp, {
                                            offset: 't',
                                            time: 2000,
                                            anim: 1
                                        })
                                        self.parentsUntil("tr").parent().remove()
                                    }
                                    )
                                });

                            })

                        })
                    </script>
                </table>
            </div>
        </div>

    </div>
</body>
{{template "layout/footer"}}
{{end}}