{{define "book/_book"}}
<tr>
  <td class="uk-width-1-10 uk-table-middle">{{.ID}}</td>
  <td class="uk-width-1-10 uk-table-middle">{{.Isbn}}</td>
  <td class="uk-width-1-10 uk-table-middle">{{.Title}}</td>
  <td class="uk-width-1-10 uk-table-middle">{{.Subtitle}}</td>
  <td class="uk-width-1-10 uk-table-middle"><img src="{{.Pic}}" widtd="80px"/></td>
  <td class="uk-width-1-10 uk-table-middle">{{.Author}}</td>
  <td class="uk-width-3-10 uk-table-middle">{{.Summary}}</td>
  <td class="uk-width-1-10 uk-table-middle">
    <div class="uk-button-group">
      <a class="uk-button" href="/book/{{.ID}}">查看</a>
      <a class="uk-button" href="/book/{{.ID}}/edit">编辑</a>
      <button class="uk-button book_delete_link" data-href="/book/{{.ID}}">删除</button>
    </div>
  </td>
</tr>

{{end}}