{{define "content"}}
<div class="uk-width-1-1">
  <div class="uk-grid">
    <div class="uk-width-3-5">
      <table class="uk-table">
        <tr>
          <td class="uk-width-1-5 uk-text-right">ISBN:</td>
          <td class="uk-width-4-5 uk-text-left">{{.Data.Isbn}}</td>
        </tr>

        <tr>
          <td class="uk-width-1-5 uk-text-right">标题:</td>
          <td class="uk-width-4-5 uk-text-left">{{.Data.Title}}</td>
        </tr>

        <tr>
          <td class="uk-width-1-5 uk-text-right">副标题:</td>
          <td class="uk-width-4-5 uk-text-left">{{.Data.Subtitle}}</td>
        </tr>

        <tr>
          <td class="uk-width-1-5 uk-text-right">作者:</td>
          <td class="uk-width-4-5 uk-text-left">{{.Data.Author}}</td>
        </tr>


        <tr>
          <td class="uk-width-1-5 uk-text-right">简介:</td>
          <td class="uk-width-4-5 uk-text-left">{{.Data.Summary}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="uk-text-center">
            <a href="/books" class="uk-button">返回</a>
            <a class="uk-button" href="/book/{{.Data.ID}}/edit">编辑</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="uk-width-2-5">
      <img src="{{.Data.Pic}}" />
    </div>
  </div>
</div>


{{end}}